
.wecare-logo {
    height: 100px;
    width: 100px;
    border-radius: 50px;
}

.user-logo{
font-size: 20px;
background-color: red;
padding: 7px;
border-radius: 25px;
}

.contact-us-bg {
    background-color: green;
}

.contact-us-heading {
    color: aliceblue;
    font-size: 35px;
    font-weight: bold;
    text-align: center;
}

.maps-image {
    height: 80vh;
}

.location-heading {
    font-size: 35px;
    color: red;
}

.location-Address {
    font-size: 20px;
    color: blueviolet;
    font-weight: 500;
}

.form-label {
    font-size: 20px;
    color: red;
    margin-right: 8px;
    font-weight: 500;
}

.footer-bg {
    background-color: rgb(16, 178, 81);
}

.footer-description {
    font-size: 22px;
    color: #fff;
}

.footer-logos {
    font-size: 25px;
}

.footer-socialmedia-logobg {
    background-color:grey;
    padding: 10px;
    border-radius: 25px;
    margin-right: 20px;
}

.footer-btns {
    width: 150px;
    height: 50px;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    font-size: 20px;
    font-weight: 500;
    color: aliceblue;
}

.letschat-btn {
    background-color: darkgreen;
}

.booknow-btn {
    background-color: rgb(208, 208, 13);
    padding: 14px;
    padding-left: 20px;
    text-decoration: none;
}